boto3
colorlog
docker
Flask
holidays
hyperopt
imbalanced-learn
joblib
# libxgboost
lightgbm
mlflow
nancorrmp
numba
numpy
pandas
plotly
pyarrow
python-dotenv
python-json-logger
python-hcl2
PyYAML
# py-xgboost
requests
s3fs
s3transfer
sagemaker
scikit-learn
scipy
seaborn
shap
statsmodels
streamlit
tqdm
tsfresh
watchdog
xgboost